@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Kalam:wght@300&display=swap');

/* --------- Global style */

html {
    font-size: 16px;
}

body {
    font-family: "Kalam", cursive, sans-serif;
    font-size: 1.5rem;
    color: #252525;
    text-align: center;
    background-color: #c59fc9;
    margin: 0;
    
}

/* Heading */

.heading {
    font-family: 'Amatic SC', cursive, sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 3rem;
}

.logo {
    height: 18vh;
    
}

h3 {
    text-decoration: underline;
}

h4 {
    margin: 0;
}

#rules {
    text-align: left;
    font-size: 1.2rem;
}

#game-area {
    max-width: 80%;
    margin: auto;
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 10px 2px;
    background-color: #a4def9;

}

.start-btn, .next-btn, .home-btn, .rules-btn {
    font-family: 'Amatic SC', cursive, sans-serif;
    color: black;
    font-size: larger;
    padding: 8px;
    border: 2px solid darkcyan;
    border-radius: 5px;
    margin: 10px;
}

#question-title {
    margin: 2%;
}


#answer-area {
    display: grid;
    gap: 10px;
    max-width: 800px;
    margin: auto;
}

.answer-btn {
    font-family: "Kalam", cursive, sans-serif;
    color: black;
    font-size: large;
    padding: 8px;
    border: 2px solid darkcyan;
    border-radius: 5px;
}

.btn:hover {
    border: 3px solid black;
}

.hide {
    display: none;
}

#score-area {
    padding: 0px 20px 0px 20px;
}

#score {
    margin: 5px;
}

.btn-correct {
    background-color: green;
}

.btn-wrong {
    background-color: red;
}